<html>
  <head>
    <script src="https://code.jquery.com/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" type="text/css" /> 
    <script src='/app.js'></script>
    <style>
      .btn {
        display:block;
        margin: 10px 0;
        width: 120px;
      }
    </style>
  </head>
  <body>
    <div class='container'>
      <h1>Widgets</h1>
      <div class='well'>
        <div class='form'>
          <div class='form-group'>
            <label for='name'>Name</label>
            <input id='name' class='form-control'>
          </div>
          <button class='btn btn-success'>Insert</button>
        </div>
      </div>
      <ul class='list-group'>
      </ul>
    </div>
  </body>
</html>
